<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">

      <Directory Id="ProgramFiles6432Folder">
        <Directory Id="INSTALLFOLDER" Name="VisionCore">
          <Directory Id="APPFOLDER" Name="app" />
          <Directory Id="SERVICEFOLDER" Name="service" />
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="STARTMENU_VISIONCORE" Name="VisionCore" />
      </Directory>

      <Directory Id="DesktopFolder" Name="Desktop" />

    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="AppComponents" Directory="APPFOLDER">
      <Component Id="AppFilesComponent" Guid="*">
        <Files Include="$(var.SourceDir)\app\**" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ServiceComponents" Directory="SERVICEFOLDER">
      <Component Id="ServiceFilesComponent" Guid="*">
        <Files Include="$(var.SourceDir)\service\**" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ShortcutComponents" Directory="STARTMENU_VISIONCORE">
      <Component Id="StartMenuShortcutComponent" Guid="*">
        <Shortcut Id="StartMenuShortcut"
                  Name="VisionCore"
                  Description="VisionCore Application"
                  Target="[APPFOLDER]VisionCore.WPF.exe"
                  WorkingDirectory="APPFOLDER" />
        <RemoveFolder Id="RemoveStartMenuFolder"
                      Directory="STARTMENU_VISIONCORE"
                      On="uninstall" />
        <RegistryValue Root="HKCU"
                       Key="Software\VisionCore"
                       Name="StartMenuShortcut"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
      </Component>
      <Component Id="DesktopShortcutComponent" Guid="*" Directory="DesktopFolder">
        <Shortcut Id="DesktopShortcut"
                  Name="VisionCore"
                  Description="VisionCore Application"
                  Target="[APPFOLDER]VisionCore.WPF.exe"
                  WorkingDirectory="APPFOLDER" />
        <RegistryValue Root="HKCU"
                       Key="Software\VisionCore"
                       Name="DesktopShortcut"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>

</Wix>
